* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.carousel-inner img {
  width: 100%;
  height: 90vh;
}
.aboutimg1 {
  width: 100%;
  height: 250px !important;
}

.aboutimg {
  width: 250px;
  height: 250px !important;
}
